p{
    line-height: 2;
}
body{
    margin:0;
    text-align: center;
    text-decoration-color: #40514E;
    padding-bottom: 5%;
}

.master{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

a:hover{
    color: #EAF6F6;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    /* margin: 10px 20px; */
    size:3;
    text-decoration: none;
}

.mb-3{
    padding-left: 20%;
    padding-right: 20%;
}
.contact{
    padding-top:5%
}