<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Person</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

</head>

<body>
  <form method="POST" action="{{url_for('register_person')}}">
    <div class="mb-3">
      <label for="name">Enter your name</label>
      <input type="text" class="form-control" name="name">
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Enter your age</label>
      <input type="number" class="form-control" name="age">
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Select your gender</label>
      <select name="gender" class="form-select">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="OTHER">Other</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="contact">Enter your Contact Number</label>
      <input type="text" class="form-control" name="contact">
    </div>

    <div class="mb-3">
      <label for="society">Enter your society name</label>
      <input type="text" class="form-control" name="society">
    </div>

    <div class="mb-3">
      <label for="flat">Enter your flat number</label>
      <input type="text" class="form-control" name="flat">
    </div>

    <div class="mb-3">
      <label for="aadhar">Enter your aadhar number</label>
      <input type="text" class="form-control" name="aadhar">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if statusCode == "Success" %}
  <div class="alert alert-success" role="alert">
    Congratulations, you have been registered in our database 
  </div>
  {% elif statusCode == "Exists" %}
  <div class="alert alert-danger" role="alert">
    You have already been regstered in the database 
  </div>
  {% elif statusCode == "InvalidPhoneNumber" %}
  <div class="alert alert-warning" role="alert">
    Please check the phone number you have entered
  </div>
  {% elif statusCode == "InvalidAadharNumber" %}
  <div class="alert alert-warning" role="alert">
    Please check the aadhar number you have entered
  </div>
  <div class="alert alert-danger" role="alert">
    You have already been regstered in the database 
  </div>
  {% else %}
    Please enter the details
  {% endif %}

  <br>

  <a href="{{url_for('home')}}">
    <button type="button" class="btn btn-dark">HOME</button>
  </a>

  <a href="{{url_for('register_vehicle')}}">
    <button type="button" class="btn btn-dark">REGISTER VEHICLE</button>
  </a>

</body>

</html>